<p>Position setzen</p>
<input type="number" [(ngModel)]="lonDeg" min="-180" max="180" class="coord-input">°<input type="number" [(ngModel)]="lonMinInt" class="coord-input">.<input type="text" [(ngModel)]="lonMinFrac" pattern="[0-9]*" min="3" max="3" class="coord-input">'
<br>
<input type="number" [(ngModel)]="latDeg" min="-180" max="180" class="coord-input">°<input type="number" [(ngModel)]="latMinInt" class="coord-input">.<input type="text" [(ngModel)]="latMinFrac" pattern="[0-9]*" min="3" max="3" class="coord-input">'
<br>
<button type="button" (click)="onSetPositionClicked()">Position setzen</button>
