<!--meta name="viewport" content="width=device-width, height=800, initial-scale=1.0"-->
<nav>
    <a routerLink="..">Zurück</a>
</nav>
<body>
<!--h2>Position aller Nistkästen der BUND Ortsgruppe Hettstadt</h2-->
<div id="map-area">
    <div id="map"></div>
    <div id="pos-button-area" style="text-align: center;">
        <mat-button-toggle id="pos-button" (change)="onTrackChange()">Track</mat-button-toggle>
    </div>
    
</div>
<div><code id="heading"></code></div>
<ul class="nistkaesten">
    <li *ngFor="let nistkasten of closestNistkaesten">
        <a routerLink="/detail/{{nistkasten.id}}">
            <span class="badge">{{nistkasten.id}}</span> {{nistkasten.characteristic}}
        </a>
    </li>
</ul>
</body>
