@viewport {
  width: device-width;
  height: device-height;
  zoom: 1;
  max-zoom: 1;
  min-zoom: 1;
  user-zoom: false;
}

* {
  box-sizing: border-box;
}

#map-area {
    width: 100%;
    height: 400px;
    position: relative;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#pos-button-area {
  position: absolute;
  margin-left: 90%;
}

#pos-button {
  width: 40px;
  height: 40px;
}

#nk-table {
  size: 100%;
  font-size: large;
}

.nk-row > td {
  padding-top: 1em;
  text-align: center;
}

.nk-table .nk-id {
  width: 20%;
}

.nk-table .nk-characteristic {
  width: 50%;
  align-content: center;
}

.nk-table .nk-number {
  width: 20%;
}

.nk-table .nk-distance {
  width: 10%;
}
