<!--meta name="viewport" content="width=device-width, height=800, initial-scale=1.0"-->
<nav>
    <a routerLink="" class="link">Home </a>
    <a routerLink="/set-position" class="link">Position setzen </a>
</nav>
<body>
<!--h2>Position aller Nistkästen der BUND Ortsgruppe Hettstadt</h2-->
<div id="map-area">
    <div id="map"></div>
    <div id="pos-button-area" style="text-align: center;">
        <mat-button-toggle id="pos-button" (change)="onTrackChange()">Track</mat-button-toggle>
    </div>
    
</div>
<div><code id="heading"></code></div>
<div id="nk-table">
    <table>
        <tr *ngIf="closestNistkaesten.length > 0"><th>Kennung</th><th>Nummernaufdruck</th><th>Merkmal</th><th>Entfernung</th></tr>
        <tr class="nk-row" *ngFor="let nistkasten of closestNistkaesten; index as i">
            <td class="nk-id"><a [routerLink]="['/details', {filter: 1, item: i}]" >{{nistkasten.id}}</a></td>
            <td class="nk-number">{{nistkasten.number}}</td>
            <td class="nk-characteristic">{{nistkasten.characteristic}}</td>
            <td class="nk-distance">{{nistkasten.distance!.toFixed(2)}} m</td>
        </tr>
    </table>
</div>
</body>
