<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="nav">
        <a href="javascript:void(0)" (click)="goBack()" class="link">Back</a>
        <a routerLink="" class="link">Home</a>
    </nav>
    <form>
        <table>
            <tr>
                <td>Kennung:</td>
                <td></td>
                <td><input type="text" readonly="true" [value]="selectedNistkasten.id"></td>
            </tr>
            <tr>
                <td>Nummernaufruck:</td>
                <td></td>
                <td><input type="text" readonly="true" value={{selectedNistkasten.number}}></td>
            </tr>
            <tr>
                <td>Merkmale:</td>
                <td></td>
                <td><input type="text" readonly="true" value={{selectedNistkasten.characteristic}}></td>
            </tr>
            <tr>
                <td>Position</td>
                <td>lon:</td>
                <td><input type="text" readonly="true" value={{selectedNistkasten.position.lon}}></td>
            </tr>
            <tr>
                <td></td>
                <td>lat:</td>
                <td><input type="text" readonly="true" value={{selectedNistkasten.position.lat}}></td>
            </tr>
        </table>
    </form>
    <button type="button" (click)="onCommentsClicked()">Notizen</button><br>
    <!-- <select (change)="onSelectionChanged()" id="selection">
        <option *ngFor="let nistkasten of filteredNistkaesten; index as i"
            [attr.selected]="i == selectedItem ? true : null">{{nistkasten.id}}</option>
    </select> -->
</body>

