<!--div id="map" class="map"></div-->
<a href="javascript:void(0)" (click)="goBack()">Zurück</a>
<form>
    <table>
        <tr>
            <td>Kennung:</td><td></td><td><input type="text" readonly="true" value={{nistkasten.id}}></td>
        </tr>
        <tr>
            <td>Nummernaufruck:</td><td></td><td><input type="text" readonly="true" value={{nistkasten.number}}></td>
        </tr>
        <tr>
            <td>Merkmale:</td><td></td><td><input type="text" readonly="true" value={{nistkasten.characteristic}}></td>
        </tr>
        <tr>
            <td>Position</td><td>lon:</td><td><input type="text" readonly="true" value={{nistkasten.position.lon}}></td>
        </tr>
        <tr>
            <td></td><td>lat:</td><td><input type="text" readonly="true" value={{nistkasten.position.lat}}></td>
        </tr>
    </table>
</form>
